# Configuration PostgreSQL
POSTGRES_DB=voteuasz_db
POSTGRES_USER=uasz_admin
POSTGRES_PASSWORD=votre_mot_de_passe_securise_ici

# Configuration Backend Spring Boot
SPRING_PROFILES_ACTIVE=prod
JWT_SECRET=votre_cle_secrete_jwt_min_256_bits_oblige
CRYPTO_SECRET=votre_cle_secrete_aes_256_bits
